body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    margin-top: 10px;
    width: 400px;
    height: 550px;
    background-color: white;
    margin-left: calc((100% - 400px)/2);
    border-radius: 5px;
    border: 2px solid #e9e9e9;
}

#logo {
    display: inline-block;
    margin-left: 130px;

}

#logotext {
    margin-top: 20px;
    margin-left: -15px;
    color: rgb(83, 83, 218);
    font-size: 20px;
    font-weight: bold;
}

#info {
    margin-left: 30px;
    margin-top: 20px;
}

.name>* {
    display: inline-block;


}

.input * {
    border-radius: 5px;
    border: 0px solid;
    height: 25px;
    background-color: rgb(228, 223, 247);
}

.topline {
    font-size: 12px;
    margin-bottom: 4px;
}

.underline {
    font-size: 12px;
    color: grey;
}

.email {
    margin-left: 30px;
    margin-top: 20px;
}

.phone {
    margin-left: 30px;
    margin-top: 20px;
}

.date {
    margin-left: 30px;
    margin-top: 20px;
}

.dateinput {
    margin-left: 30px;

}

#date {


    border-radius: 5px;
    border: 0px solid;
    height: 25px;
    background-color: rgb(228, 223, 247);
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/up-and-down-arrows.svg");
    background-size: 30px 15px;
    background-repeat: no-repeat;
    background-position-x: 26px;
    background-position-y: 5px;
}

.walking {
    margin-left: 30px;
    margin-top: 20px;

}

#run {
    border-radius: 5px;
    border: 0px solid;
    height: 25px;
    background-color: rgb(228, 223, 247);
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/up-and-down-arrows.svg");
    background-size: 30px 15px;
    background-repeat: no-repeat;
    background-position-x: 305px;
    background-position-y: 5px;



}

button {

    margin-top: 40px;
    width: 330px;
    border-radius: 5px;
    border: 0px solid;
    height: 45px;
    background-color: rgb(83, 83, 218);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

button:active {
    background-color: rgb(43, 43, 150);
}